/* Styling for nav bar */
/* Navigation bar */
/* nav-bar.css */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    height: 70px;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .website-name a {
    font-size: 1.2rem;
    font-style: italic;
  }
  
  .nav-bar .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  